@use "./variables";
@use "./mixins/mixins";

header {
    z-index: 999 !important;
    position: sticky !important;
    width: 100%;
    top: 0;
    left: 0;
    font-family: variables.$mainFont;
    font-weight: 600;
    position: static;
    margin-right: 15px;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
}

@media (max-width: 991px) {
    header {
        background-color: variables.$headerColor; 
        backdrop-filter: blur(10px); 
    }
}

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    z-index: 100 !important;
    align-items: center;
    vertical-align: center;
    position: relative;
    padding-right: 15px;
}

.nav-link.active {
    color: variables.$primaryColor !important;
    background-color: variables.$textColor !important;
    border-radius: 15px;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

@media (max-width: 991px) {
    header {
        background-color: variables.$headerColor;
        backdrop-filter: blur(10px);
    }
}

.nav-link {
    text-align: center;
    margin-left: 20px;
    padding-top: 0px;
    padding-bottom: 0;

    &:hover {
        color: variables.$buttonColorHover !important;
    }
}

#brand-logo {
    max-height: 22px;
    padding-top: 0px;
    padding-bottom: 0px !important;
    margin-left: 0px;
    height: auto;
    max-height: 34px;
    width: auto;
    transition: ease-in-out 0.5s;

    &:hover {
        transform: scale(1.05);
    }
}

.cta-nav {
    margin-top: 5px;

    & a {
        background-color: variables.$secondaryColor;
        color: variables.$textColor;
        font-family: variables.$mainFont;
        font-weight: 100;
        font-weight: bold;
        text-decoration: none;
        padding: .4rem 2rem;
        transition: linear 0.2s;

        &:hover {
            background-color: variables.$secondaryColor;
            color: variables.$textColor;
        }
    }
}

.nav-link-cta {
    text-align: center;
    margin-left: 20px;
    padding-bottom: 0;
}

.nav-item a {
    color: variables.$textColor;
    font-family: variables.$mainFont;
    border-bottom: 1px;
}

.nav-tabs button {
    color: variables.$secondaryColor;
    text-decoration: none;
}

.tab-content {
    color: variables.$secondaryColor;
}

.nav-pills {
    display: flex;
    align-items: center !important;
    align-content: center;
}

.navbar-nav .nav-link:focus{
    color: variables.$textColor !important;
}

@media (max-width: 991px) {
    .navbar-toggler {
        border-color: white;

        .navbar-toggler:focus {
            outline: none !important;
            box-shadow: 0 0 0 0.25rem rgba(variables.$primaryColor, 0.5) !important;
        }

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
    }
}