// Primary Colors
$primaryColor: #fd22a4;
$secondaryColor: #a70471;
// Body Colors
$bodyColorPrimary: #fd22a4;
$bodyColorSecondary: #ea46b3;
// Text Colors
$textColor: white;
$textColorSec: #a70471;
$textColorAlternate: #fd22a4;
// Fonts
$mainFont: "Outfit", sans-serif, sans-serif;
$secondaryFont: "Oswald", sans-serif;
// Header Colors
$headerColor: transparent;
// Button Colors
$buttonColor: #fd22a4;
$buttonColorHover: #a70471;
$buttonColorHero: #ffffff;
$buttonColorHeroHover: #ffffff;
// Scroll Colors
$colorScroll: #ffffff;
$colorScrollBg: #fd22a4;
$colorScrollThumb: #a70471;
$colorScrollThumbHover: #f15cc0;
// Footer Colors
$colorFooterPrimary: #fd22a4;
$colorFooterSec: #ebacd2;
$colorFooterBorder: #a70471;
$colorFooterText: #ffffff;
$devbyColor: #fbfbfb;
$devbyColorHover: #2e86f3;
// SVG Colors
$svgColor: #fd22a4;
$svgColorSec: #ffffff;
$svgColorHover: #a70471;
// SVG Blob
$svgColorBlob: #fa62c7;
// Bubbles Colors
$colorTextStroke: rgba(255, 255, 255, 0.6);
$colorTextShadow: rgba(255, 255, 255, 0.1);
$colorBubble: rgba(255, 255, 255, 0.2);
$colorBubbleInset: rgba(255, 255, 255, 0.3);
$colorBubbleBg: rgba(0, 0, 0, 0.07);
$colorBubbleLight: rgba(255, 255, 255, 0.4);
$colorBubbleLighter: rgba(255, 255, 255, 0.6);
$colorBubbleStrong: rgba(255, 255, 255, 0.8);