@use "../variables";
@use "../mixins/mixins";

#home {
    background-color: variables.$bodyColorPrimary;
    background-image: url("../dist/img/background_hero.webp");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 

    .container-home {
        position: relative;
        height: calc(100svh - 57px);
        width: 100%;
        top: 0; 
    }
}

@media (max-width: 760px) {
    .motto-h1 {
        @include mixins.logoFont(4rem, 4rem);
        z-index: 2;
    }
    
    .logo-text-cup {
        max-height: 60px;
        margin-bottom: 6px;
        padding-bottom: 4px;
        margin-left: 5px;
    }

    .motto-h1-bottom {
        @include mixins.logoFont(4rem, 2rem);
        margin-bottom: 1.2rem;
        z-index: 2;
    }
}

@media (min-width: 761px) {
    .container-motto-h1 {
        vertical-align: center;
        align-items: center;
    
        .motto-h1 {
            @include mixins.logoFont(8rem, 8rem);
            z-index: 2;
        }
        
        .logo-text-cup {
            max-height: 120px;
            margin-bottom: 6px;
            padding-bottom: 12px;
            margin-left: 5px;
        }
    }
    
    .motto-h1-bottom {
        @include mixins.logoFont(8rem, 4rem);
        margin-bottom: 2.2rem;
        z-index: 2;
    }
}








