@use "../variables";
@use "../mixins/mixins";

#home {
    background-color: variables.$bodyColorPrimary;

    .container-home {
        position: relative;
        height: calc(100svh - 57px);
        width: 100%;
        top: 0; 
    }
}

.motto-h1 {
    @include mixins.logoFont(5rem, 4rem);
}